<footer class="site-footer">
  {% include nav/site.html theme="footer" %}
  <div class="site-footer__wrap">
    <div class="site-footer__logos">
      {% include components/logo-se.html placement="footer" small='true' %}
      {% include components/logo-partner.html placement="footer" small='true' %}
    </div>
    <div class="space--sm text--sm content-spacing width width--md">
      <p>Terms & Conditions: Stay between the 1st February & 15th March and receive Godiva samples in your room during your stay.</p>
      <p>© Copyright <span class="js-year">2020</span> Secret Escapes</p>
    </div>
  </div>
</footer>