{% assign competition-page = site.html_pages | where: 'id', 'competition' | first %}
<div class="vpad--xxxxl text--white bg--img bg--dark" style="background-image: url('{{site.img}}/content/{{competition-page.id}}/banner.jpg')">
  <div class="container container--100">
    <div class="row row--start">
      <div class="col col--xxxl-8">
        <div class="width width--xl">
          <h2 class="title title--xl width--lg">{{competition-page.long-title}}</h2>
          <div class="space--sm">
            <p class="width--lg text--xxl text--normal">Win a grand two-night getaway to Brussels, staying in the well-appointed, five-star Steigenberger Grandhotel. Located in the heart of the city, wake up for breakfast before strolling the magnificent boulevards of this stylish destination, unpicking the medieval old town and the boutiques and cultural curiosities that hide within.</p>
            <div class="space--sm"></div>
            <a id="track-btn-footer-competition" href="{{site.baseurl}}{{competition-page.url}}" class="btn btn--lg btn--red">Enter Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>