{% assign competition-page = site.html_pages | where: 'id', 'competition' | first %}
<div class="vpad--xxxxl bg--img text--white bg--dark" style="background-image: url('{{site.img}}/img.jpg');">
  <div class="container container--100">
    <div class="row row--6-6">
      <div class="col">
        <div class="width width--xl">
          <h2 class="title title--xl">{{competition-page.long-title}}</h2>
          <p class="text--xl text--normal">{{competition-page.intro}}</p>
          <div class="space--md"></div>
          <a id="track-btn-footer-competition" href="{{site.baseurl}}{{competition-page.url}}" class="btn btn--lg btn--orange">Enter Now</a>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>