// main footer for the microsite

.site-footer {

  &__wrap {
    @include page-padding;
    padding-top: $s8;
    padding-bottom: $s8;
    color: $grey-lighter;
    font-weight: 400;
    text-align: center;
    background-color: $grey-darkest;
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    > * { margin: $s-2; }
    .logo--partner { transform: translateY(2px); }
  }

  // white background for footer. Transparent colours will appear as block colours
  position: relative;
  background-color: $white;
  //////////////////////////////////////////////////////////////////////////////

}