// general styles for the project that wouldn't be a reuseable component

.width--title { max-width: 560px; }

.bg-img--border {
  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid white;
    @include bp($md){
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border-width: 3px;
    }
  }
}

.shops {
  padding-top: $s0;
  .shop {
    display: inline-block;
    padding: $s0 $s3;
    margin: $s-4 $s-6;
    font-size: $s1;
    font-weight: 600;
    background-color: $grey-lightest;
    border-radius: 999rem;
    @include transition;
    &:hover { color: $white }
    &--sainsburys {
      color: #f06c00;
      background-color: #feede0;
      &:hover { background-color: #f06c00; }
    }
    &--tesco {
      color: #00539f;
      background-color: #e0eaf3;
      &:hover { background-color: #00539f; }
    }
    &--asda {
      color: #68a51c;
      background-color: #edf4e3;
      &:hover { background-color: #68a51c; }
    }
    &--morrisons {
      color: #064e37;
      background-color: #e0e9e6;
      &:hover { background-color: #064e37; }
    }
    &--ocado {
      color: #929b00;
      background-color: #f2f3e0;
      &:hover { background-color: #929b00; }
    }
  }
}